@charset "utf-8";



/* Html */

html {
	background-color: rgb(0, 0, 0);
}

/* Body */

body {
	background-color: rgb(0, 0, 0);
}

/* Headers */

h1 {
	font-family: Courier, monospace;
	color: hsl(0, 0%, 100%);
	text-align: center;
}

h2 {
	font-family: Courier, monospace;
	color: rgb(255, 255, 255);
	text-align: center;
}

h5 {
	font-family: Courier, monospace;
	font-weight: 900;
	font-size: 40px;
	color: white;
	text-align: center;
}

p {
	font-family: Courier, monospace;
	color: white;
	text-align: center;
}

li {
	font-family: Courier, monospace;
}


ul.a {
	list-style-type: none;
	margin: 0px;
	padding-left: 0 px;
	overflow: hidden;
	background-color: white;
	color: black;
	font-family: Courier, monospace;
}

ul.a li {
	float: left;
}

ul.a li a{
	display: block;
	padding: 8px;
}

ul.b {
	font-family: Courier, monospace;
	list-style-type: none;  
	font-weight: lighter;  
	font-size: 20px;  
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

ul.b li {
	color:white;
}


/* Aside */


/* Section */
section {
	background-color: white;
	width: auto;
}


/* Navigation Style */

nav {
	font-size: 1em;
}

nav > ul {
	line-height: 1em;
	list-style-type: none;
	padding-left: 8px;
}

nav > ul > li > a:link, nav > ul > li > a:visited {
	color: black;
	text-decoration: none;
}

nav > ul > li > a:hover, nav > ul > li > a:active {
	color: black;
	text-decoration-line: underline;
	text-decoration-style: wavy;
}


/* List Style */




/* Footer Style */

body > footer address {
	background-color: white;
	color: black;
	font: normal bold 0.9em/3em;
	font-family: Apple Chancery, cursive;
	text-align: center;
}

footer {
	background-color: white;
	color: black;
	font-size: 20px;
	font-family: Apple Chancery, cursive;
	text-align: center;
}
footer p {
	color: black;
}